---
type TextSize = "base" | "lg" | "xl";
interface Props {
  icon: string;
  link: string;
  textSize: TextSize;
  iconHeight: number;
  color: string;
  title: string;
}
import { Icon } from "astro-icon";
const { icon, link, textSize, iconHeight, color, title }: Props = Astro.props;
---

<a
  href={link}
  class={`flex gap-3 px-3 py-2 items-center rounded-md text-${textSize} font-medium bg-${color}`}
  target="_blank"
  rel="noopener noreferrer"
>
  {title}
  <Icon name={icon} class={`h-${iconHeight}`} />
</a>
